[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group Nubia Z11
	forgeAuthor = group Nubia Z11
	forgeCommitter = group Nubia Z11
	push = group Nubia Z11
	label-Code-Review = -2..+2 group Nubia Z11
	label-Verified = -1..+1 group Nubia Z11
	submit = group Nubia Z11
